// Primary colors
$clr-moderate-violet: hsl(263, 55%, 52%);
$clr-very-dark-grayish-blue: hsl(217, 19%, 35%);
$clr-very-dark-blackish-blue: hsl(219, 29%, 14%);
$clr-white: hsl(0, 0%, 100%);

// Neutral colors
$clr-light-gray: hsl(0, 0%, 81%);
$clr-light-grayish-blue: hsl(210, 46%, 95%);

$clr-bg-body: #ecf2f8;

// Font family
$ff-body: "Barlow Semi Condensed", sans-serif;

$rounded-s: 0.5rem;

$fs-body: 0.8125rem;

$space-s: 1rem;

$shadow-lg: 20px 8px 50px -10px rgba(0, 0, 0, 0.1);
